/* definições padrão da página */
* {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

/* definições padrão do body */
body {
  background-color: #140f07;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  margin-top: 2%;
}

/* estilização do título do projeto */
.titulo_pag {
  background-color: #f6eaf5;
  padding: 7%;
  width: max-content;
  border-radius: 8px;
  margin-left: -8%;
  display: flex;
  font-family: monospace;
  font-size: 30px;
}
.titulo_pag > h1 {
  color: #212a4b;
}

/* estilização da section que controla os 3 containers */
.divisao-containers {
  display: inline-flex;
  justify-content: center;
  width: 70%;
  padding-block: 1%;
  align-items: center;
  flex-direction: row;
}

/* estilização do container 1, com a seleção das categorias */
.container1 {
  background-color: #585fa6;
  border-radius: 8px;
  padding: 2%;
  flex-direction: column;
  margin-left: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.tipo_convertor {
  font-size: 24px;
  border-radius: 5px;
  background-color: #f6eaf5;
  border-color: #212a4b;
  font-family: monospace;
}
#titulo1 {
  padding: 10%;
  color: #f6eaf5;
  border-color: #212a4b;
  font-family: monospace;
  font-size: 29px;
}

/* estilização do container 2, com a seleção das unidades de medida */
.container2 {
  background-color: #9ca0fa;
  border-radius: 8px;
  overflow: hidden;
  margin: 6px;
  display: block;
  align-items: center;
}

/* definições padrão dos forms de seleção de unidades, dentro do container 2 */
.containerForm {
  display: block;
  align-items: center;
  padding: 2%;
  background-color: #9ca0fa;
  width: 70%;
  border-radius: 8px;
  margin: 5%;
  font-size: 23px;
}

/* estilização do container 3, com o resultado dos calculos */
.resultados {
  display: block;
  background-color: #585fa6;
  font-family: monospace;
  padding: 5%;
  border-radius: 8px;
  overflow: hidden;
}

.resultados > label {
  display: flex;
  font-size: 20px;
  font-family: monospace;
  align-items: center;
  color: #f6eaf5;
}

.resultados > input {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #f6eaf5;
  border-radius: 4px;
  font-family: monospace;
  border-color: #212a4b;
  font-size: 18px;
}

/* definições padrão de todos os forms da página  */
form > select {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #f6eaf5;
  border-radius: 4px;
  font-family: monospace;
  border-color: #212a4b;
  font-size: 18px;
}
form > label {
  display: flex;
  font-size: 20px;
  font-family: monospace;
  align-items: center;
}
form > button {
  text-align: center;
  padding: 2%;
  background-color: #212a4b;
  border-radius: 3px;
  box-shadow: none;
  border: #f6eaf5;
  font-family: monospace;
  color: #f6eaf5;
  cursor: pointer;
  margin: 3%;
  margin-left: 39%;
}


/* esconder os forms de comprimento e peso, para serem chamados com evento de clique no js */
#formComprimento {
  display: none;
}
#formTemperatura {
  display: none;
}
